* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    display: grid;
}

header {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    background-image: url(../img/imagotipo_sandratorrez_vertical.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 1rem;
    height:8rem;
}

.header__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__social {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.nav__main {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.nav__main a, .nav__social a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5rem;
}

@media (min-width: 1024px) {
    header {
        flex-direction: row;
    }

    #logo {
        background-image: url(../img/imagotipo_sandratorrez_horizontal.svg);
        height: 5rem;
        width: 30rem;
        margin: 1rem;
    }

    .header__navigation {
        width: 100%;
    }

    .nav__main {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav__social {
        justify-content: flex-end;
    }

    .nav__social a {
        font-size: 1.25rem;
        margin: 0 0.5rem;
    }

    .nav__main a {
        font-size: 1rem;
    }
}