/** CSS reset **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/** Common styles **/
.wrapper {
    display: grid;
}

/** Header **/
header {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    background-image: url(../img/imagotipo_sandratorrez_vertical.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 1rem;
    height:8rem;
}

.header__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.nav__social {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.nav__main {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.nav__main a, .nav__social a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.nav__main a:hover, .nav__social a:hover {
    color: #bf9cce;
}

.main__slider img {
    width: 100%;
}

/** Footer **/
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    background-color: #252525;
}

.footer__left {
    margin: 1rem;
}

.footer__center {
    color: #ffffff;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__right {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__right .nav__social a {
    margin: 0.1rem;
    font-size: 1rem;
}

.nav__secondary {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.nav__secondary a {
    text-decoration: none;
    color: #ffffff;
}

.datafiscal {
    width: 4rem;
}

/** Main content **/


/** Desktop View Media Query **/
@media (min-width: 1024px) {
    header {
        flex-direction: row;
    }

    #logo {
        background-image: url(../img/imagotipo_sandratorrez_horizontal.svg);
        height: 5rem;
        width: 30rem;
        margin: 1rem;
    }

    .header__navigation {
        width: 100%;
    }

    .nav__main {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav__social {
        justify-content: flex-end;
    }

    .nav__social a {
        font-size: 1.25rem;
        margin: 0 0.5rem;
    }

    .nav__main a {
        font-size: 1rem;
    }
}