/** CSS reset **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/** Common styles **/
.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/** Header **/
header {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    background-image: url(../img/imagotipo_sandratorrez_vertical.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 1rem;
    height:8rem;
}

.header__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.header__navigation nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header__navigation nav form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.header__navigation nav form button {
    padding: 0 0.2rem;
    border-radius: 0.5rem 0 0 0.5rem;
    color: #252525;
}

.header__navigation nav form input {
    width: 10rem;
    padding: 0.0.2rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

.header__navigation nav form input:focus {
    outline-width: 0;
}

.header__navigation nav form button, .header__navigation nav form input {
    font-size: 1.5rem;
    border: none;
}

.nav__social {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.nav__main {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.nav__main a, .nav__social a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.nav__main a:hover, .nav__social a:hover {
    color: #bf9cce;
}

.main__slider img {
    width: 100%;
}

/** Footer **/
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    background-color: #252525;
}

.footer__left {
    margin: 1rem;
}

.footer__center {
    color: #ffffff;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__right {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__right .nav__social a {
    margin: 0.1rem;
    font-size: 1rem;
}

.nav__secondary {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.nav__secondary a {
    text-decoration: none;
    color: #ffffff;
}

.nav__secondary a:hover {
    color: #bf9cce;
}

.datafiscal {
    width: 4rem;
}

/** Main content **/
.main__container {
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

.main__container--card img {
    width: 100%;
}

.main__container--card-content {
    margin: 2rem;
}

.main__container--card-content h2 {
    margin: 0 0 1rem 0;
}

.centered__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__container--card {
    margin: 2rem;
}

.about__container--card img {
    width: 100%;
}

.about__container--card h2 {
    margin: 1rem;
}

.about__container--card p {
    line-height: 2rem;
    margin: 0 1rem 1rem 1rem;
}

/** Desktop View Media Query **/
@media (min-width: 1024px) {
    /* Header */
    header {
        flex-direction: row;
    }

    #logo {
        background-image: url(../img/imagotipo_sandratorrez_horizontal.svg);
        height: 4rem;
        width: 26rem;
        margin: 1rem 0 1rem 1rem;
    }

    .header__navigation {
        width: 100%;
    }

    .header__navigation nav {
        flex-direction: row;
    }

    .header__navigation nav form input {
        width: 6rem;
    }

    .header__navigation nav form button, .header__navigation nav form input {
        font-size: 1rem;
    }

    .nav__main {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }

    .nav__social {
        justify-content: flex-end;
    }

    .nav__social a {
        font-size: 1.25rem;
        margin: 0 0.5rem;
    }

    .nav__main a {
        font-size: 1rem;
    }

    /* Main content */
    .main__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about__container--card {
        width: 992px;
        margin: 2rem;
        padding: 2rem;
    }

    .about__container--card img {
        width: 50%;
        float: left;
        margin: 0 2rem 2rem 0;
    }

    .about__container--card h2 {
        margin: 0 0 1rem 0;
    }

    .about__container--card p {
        line-height: 2rem;
        margin: 0 0 1rem 0;
    }
}